@page
@model IndexModel

<h1>Welcome to the Office</h1>

<object data="Office_Layout_Seating_Plan.svg" type="image/svg+xml" style="width: 100%; max-width: 600px;">
    Your browser does not support SVG
</object>

<!-- Rest of your content -->
