<form method="post">
    <div class="form-group">
        <label for="EmployeeName">Your Name:</label>
        <input type="text" class="form-control" id="EmployeeName" name="EmployeeName">
    </div>
    <div class="form-group">
        <label for="StartDate">Start Date:</label>
        <input type="date" class="form-control" id="StartDate" name="StartDate">
    </div>
    <div class="form-group">
        <label for="EndDate">End Date:</label>
        <input type="date" class="form-control" id="EndDate" name="EndDate">
    </div>
    <button type="submit" class="btn btn-primary">Reserve</button>
</form>
