@if (Model.AvailableSeatsCount > 0)
{
    <h2>Total Available Seats for the Period: @Model.AvailableSeatsCount</h2>
    <a asp-page="Reserve" class="btn btn-success">Reserve</a>
}
else if (Model.AvailableSeatsCount == 0)
{
    <p>No available seats for the specified period.</p>
}
