@page
@model SeatsModel
@{
    ViewData["Title"] = "Check Available Seats";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="form-group">
        <label for="StartDate">Start Date:</label>
        <input type="date" class="form-control" id="StartDate" name="StartDate" asp-for="StartDate">
    </div>
    <div class="form-group">
        <label for="EndDate">End Date:</label>
        <input type="date" class="form-control" id="EndDate" name="EndDate" asp-for="EndDate">
    </div>
    <button type="submit" class="btn btn-primary">Check Availability</button>
</form>

@if (Model.AvailableSeatsCount > 0)
{
    <h2>Total Available Seats for the Period: @Model.AvailableSeatsCount</h2>
    <a asp-page="Reserve" class="btn btn-success">Reserve</a>
}
else if (Model.AvailableSeatsCount == 0)
{
    <p>No available seats for the specified period.</p>
}

